#contact-form input {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}

#contact-form textarea {
  display: block;
  height: 100px;
  width: 400px;
  margin-bottom: 20px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.invisible {
  display: none;
}
